

<%- include ('./indexheader.ejs') %>



			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
		
			
			<!-- =========================== Add To Cart =================================== -->
			<section>
				<div class="container">

					<% if(result[1][0]) { %>

					<div class="row">
						



						<div class="col-lg-8 col-md-12 col-sm-12 col-12">
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th scope="col">Product</th>
											<th scope="col">Price</th>
											<th scope="col">Quantity</th>
											<th scope="col">Total</th>
										</tr>
									</thead>
									<tbody>


                                        <% for(i=0;i<result[1].length;i++) { %>


										<tr>
											<td>
												<div class="tbl_cart_product">
													<div class="tbl_cart_product_thumb">
														<img src="/images/<%=result[1][i].bookingimage%>" class="img-fluid" alt="" />
													</div>
													<div class="tbl_cart_product_caption">
														<h5 class="tbl_pr_title"><%=result[1][i].bookingname%></h5>
														
													</div>
												</div>
											</td>
											<td><h4 class="tbl_org_price">Rs. <%=result[1][i].oneprice%></h4></td>
											<td>
                                            <span>
                                                <button class="count-btn decrement minus btn-danger btn-sm" categoryid="<%=result[1][i].categoryid%>" availablequantity="<%=result[1][i].availablequantity%>" booking_id = "<%=result[1][i].booking_id%>" number="<%=result[1][i].number%>" value="<%=result[1][i].quantity%>" price="<%=result[1][i].oneprice%>">
                                                   
                                                    -</button>
                                               <input type="text" readonly min="1" max="100" step="1" value="<%=result[1][i].quantity%>" style="width: 40px;text-align: center;align-items: center;border: none;">
                                               <button class="add btn btn-success btn-sm" categoryid="<%=result[1][i].categoryid%>" booking_id = "<%=result[1][i].booking_id%>" number="<%=result[1][i].number%>" availablequantity="<%=result[1][i].availablequantity%>"  value="<%=result[1][i].quantity%>" price="<%=result[1][i].oneprice%>">
                                                   
                                                + </button>
                                            </span>
                                            </td>
											<td>
												<div class="tbl_pr_action">
													<h5 class="tbl_total_price">Rs. <%=result[1][i].price%></h5>
													<a href="/delete?id=<%=result[1][i].id%>" class="tbl_remove"><i class="ti-close"></i></a>
												</div>
											</td>
										</tr>


                                        <% } %>
										
									</tbody>
								</table>
							</div>
							
							<!-- Coupon Box -->
							<div class="row align-items-end justify-content-between mb-10 mb-md-0">
								<div class="col-12 col-md-7">

									<!-- Coupon -->
								

								</div>
								
							
							</div>
							<!-- Coupon Box -->
							
						</div>
						
						<div class="col-lg-4 col-md-12 col-sm-12 col-12">
							<div class="cart_detail_box mb-4">
								<div class="card-body">
									<ul class="list-group list-group-sm list-group-flush-y list-group-flush-x">
										<li class="list-group-item d-flex">
											<h5 class="mb-0">Order Summary</h5>
										</li>
										<li class="list-group-item d-flex">
											<span>Subtotal</span> <span class="ml-auto font-size-sm">Rs. <%=result[2][0].totalprice%></span>
										</li>
										<li class="list-group-item d-flex">
											<span>Shipping Charges  	</span> <span class="ml-auto font-size-sm">Rs. <%=shipping_charges%></span>
										</li>
										<li class="list-group-item d-flex font-size-lg font-weight-bold">
											<span>Total</span> <span class="ml-auto font-size-sm">Rs. <%=result[2][0].totalprice + shipping_charges%></span>
										</li>
										
									</ul>
								</div>
							</div>
							<a class="btn btn-block btn-dark mb-2" href="/checkout">Proceed to Checkout</a>
							<a class="px-0 text-body" href="/"><i class="ti-back-left mr-2"></i> Continue Shopping</a>
						</div>
						
						
					</div>


<% } else { %>

<div class="container">
	<div class="row">
		<div class="col-12" style="text-align: center;">
			<img src="https://lh3.googleusercontent.com/proxy/P1rFXGA-BHEVyuxzT6pnbC34aiPxPNGns8NnCks4gRXCGrnf4IkbMDJqH4iKABnJNdwbqYbCqvLi88RxHiYZzB-Xh5E" style="width: 300px;align-items: center;text-align: center;">
			<br/>
		<a href="/"><button class="btn btn-primary">Go To Gome</button></a>
		</div>
	</div>
</div>

	<% } %>


				</div>
			</section>
			<!-- =========================== Add To Cart =================================== -->
			
			<!-- ============================ Call To Action ================================== --> 
		
			<!-- ============================ Call To Action End ================================== -->
			
			<!-- ============================ Footer Start ================================== -->
            <%- include ('./indexfooter.ejs') %>
	

            

    <script>
        $('.add').click(function(){
     let value = $(this).attr('value')
     let price = $(this).attr('price')
     let booking_id = $(this).attr('booking_id');
     let usernumber = $(this).attr('number');
     let categoryid = $(this).attr('categoryid');
     let availablequantity = $(this).attr('availablequantity')

    
    
    
     let quantity = (+value)+1;


     if(quantity>availablequantity){
      alert(`We have only ${availablequantity} stocks available`)
     }
     else{
        $.post('/cart-handler',{quantity,price,booking_id,usernumber,categoryid},data=>{
                window.location.href = '/mycart'
          })
     }
    
     
    
         
        })
    
    
    
    
    
        $('.minus').click(function(){
     let value = $(this).attr('value')
     let price = $(this).attr('price')
     let booking_id = $(this).attr('booking_id');
     let usernumber = $(this).attr('number');
     let categoryid = $(this).attr('categoryid');
    
    
     let quantity = (+value)-1;
    
     
    
    
    $.post('/cart-handler',{quantity,price,booking_id,usernumber,categoryid},data=>{
                window.location.href = '/mycart'
          })
    
         
        })
    
    
    </script>