
<%- include ('./indexheader.ejs') %>

			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
			
			
			<!-- =========================== Billing Section =================================== -->
			<section>
				<div class="container">


					

					<form action='/order-now' method='post'>
					
					<div class="row">

						
						
						<div class="col-lg-8 col-md-12">
						
							<div class="table-responsive mb-3">
								<table class="table table-bordered table-sm table-hover mb-0">
									<tbody>

                              <% for(i=0;i<result[3].length;i++) { %>

										<tr>
											<td>
												<div class="custom-control custom-radio">
													<input   class="custom-control-input saved_address" 
													username = '<%=result[3][i].name%>'
													state = '<%=result[3][i].state%>'
													city = '<%=result[3][i].city%>'
													pincode = '<%=result[3][i].pincode%>'
													landmark = '<%=result[3][i].landmark%>'
													area = '<%=result[3][i].area%>'
													email = '<%=result[3][i].email%>'
													 id="<%=result[3][i].id%>" type="radio">
													<label class="custom-control-label text-body text-nowrap" for="<%=result[3][i].id%>"><%=result[3][i].name%></label>
												</div>
											</td>
											<td><%=result[3][i].area%> , <%=result[3][i].landmark%>  , <%=result[3][i].state%> ,  <%=result[3][i].pincode%></td>
										
										</tr>
									
										<% } %>
									
									</tbody>
								</table>
							</div>

								<!-- Heading -->
								<h4 class="mb-5">Shipping Details</h4>

								<!-- Billing details -->
								<div class="row mb-5">
									<div class="col-12 col-md-6">
										<!-- First Name -->
										<div class="form-group">
										<label for="checkoutBillingFirstName">First Name *</label>
										<input class="form-control form-control-sm " id="checkoutBillingFirstName" name="first_name" type="text" placeholder="First Name" required="">
										</div>
									</div>
								
								
									<div class="col-12 col-md-6">
										<!-- Email -->
										<div class="form-group">
										<label for="checkoutBillingEmail">Email *</label>
										<input class="form-control form-control-sm" id="checkoutBillingEmail" name="email" type="email" placeholder="Email" required="">
										</div>
									</div>
								
								
									<div class="col-12">
										<!-- Address Line 1 -->
										<div class="form-group">
										<label for="checkoutBillingAddress">Address Line 1 *</label>
										<input class="form-control form-control-sm" id="checkoutBillingAddress" name="address1" type="text" placeholder="Address Line 1" required="">
										</div>
									</div>
								
									<div class="col-12">
										<!-- Address Line 2 -->
										<div class="form-group">
										<label for="checkoutBillingAddressTwo">Address Line 2</label>
										<input class="form-control form-control-sm" id="checkoutBillingAddressTwo" name="address2" type="text" placeholder="Address Line 2 (optional)">
										</div>
									</div>


									<div class="col-12 col-md-6">
										<!-- Town / City -->
										<div class="form-group">
										<label for="checkoutBillingState">State *</label>
										<input class="form-control form-control-sm" id="checkoutBillingState" name="state" type="text" placeholder="State" required="">
										</div>
									</div>
								
									<div class="col-12 col-md-6">
										<!-- Town / City -->
										<div class="form-group">
										<label for="checkoutBillingTown">Town / City *</label>
										<input class="form-control form-control-sm" id="checkoutBillingTown" name="city" type="text" placeholder="Town / City" required="">
										</div>
									</div>
								
									<div class="col-12 col-md-12">
										<!-- ZIP / Postcode -->
										<div class="form-group">
										<label for="checkoutBillingZIP">ZIP / Postcode *</label>
										<select class="form-control" name='pincode' id="pincode" required>
                                           
                                        </select>
									</div>
									</div>


									<h4 class="mb-3" style="margin-top: 10px;margin-left: 20px;">Time Slot</h4>

									<div class="col-12 col-md-12">
										<!-- ZIP / Postcode -->
										<div class="form-group">
										<!-- <label for="checkoutBillingZIP">Time Slot</label> -->
										<select class="form-control" name='time' id="time" required>
                                           
                                        </select>
										</div>
									</div>
								
								
								
								</div>

						

							


								<!-- Heading -->
								<h4 class="mb-3">Payment</h4>

								<!-- List group -->
								<div class="list-group list-group-sm mb-5">
									<div class="list-group-item">
										<!-- Radio -->
										<div class="custom-control custom-radio">
											<!-- Input -->
											<input class="custom-control-input" id="checkoutPaymentCard" name="payment_mode" value="online" type="radio" >
											<!-- Label -->
											<label class="custom-control-label font-size-sm text-body text-nowrap" for="checkoutPaymentCard">Pay Online <img class="ml-2" src="assets/img/card.png" alt="..."></label>
										</div>
									</div>




                                  

                                    
                                    <div class="list-group-item">
										<!-- Radio -->
										<div class="custom-control custom-radio">
											<!-- Input -->
											<input class="custom-control-input" id="checkoutPaymentPaypal" name="payment_mode" value="cash" type="radio" required data-toggle="collapse" data-action="hide" data-target="#checkoutPaymentCardCollapse">
											<!-- Label -->
											<label class="custom-control-label font-size-sm text-body text-nowrap" for="checkoutPaymentPaypal">Cash On Delivery</label>
										</div>
									</div>
									
								
									
								</div>

								<!-- Notes -->
								
							</form>
						</div>
						
						<div class="col-12 col-md-12 col-lg-4">
							<div class="cart_detail_box mb-4">
								<div class="card-body">
									<ul class="list-group list-group-sm list-group-flush-y list-group-flush-x">
										<li class="list-group-item d-flex">
											<h5 class="mb-0">Order Summary</h5>
										</li>
										<li class="list-group-item d-flex">
											<span>Subtotal</span> <span class="ml-auto font-size-sm">Rs. <%=result[2][0].totalprice%></span>
										</li>
										<li class="list-group-item d-flex">
											<span>Tax</span> <span class="ml-auto font-size-sm">Rs. <%=shipping_charges%></span>
										</li>
										<li class="list-group-item d-flex font-size-lg font-weight-bold">
											<span>Total</span> <span class="ml-auto font-size-sm">Rs. <%=result[2][0].totalprice + shipping_charges%></span>
										</li>
										<li class="list-group-item font-size-sm text-center text-gray-500">
											Shipping cost calculated at Checkout *
										</li>
									</ul>
								</div>
							</div>
							<button type="submit" class="btn btn-dark btn-block">Proceed to Checkout</button>


							<a class="px-0 text-body" href="#"><i class="ti-back-left mr-2"></i> Continue Shopping</a>
						</div>


					</form>
						
					</div>
				</div>
			</section>
			<!-- =========================== Billing Section =================================== -->
			
			<!-- ============================ Call To Action ================================== --> 
			
			<!-- ============================ Call To Action End ================================== -->
			
			<!-- ============================ Footer Start ================================== -->
		
<%- include ('./indexfooter.ejs') %> 


<script>
    

$.getJSON(`/api/time`, data => {
    categories1 = data
    fillDropDown('time', data, 'Choose Time Slot', 0)
  
})


$.getJSON(`/api/pincode`, data => {
    pincode = data
    fillDropDown1('pincode', data, 'Choose Time Slot', 0)
  
})


function fillDropDown(id, data, label, selectedid = 0) {
    $(`#${id}`).empty()
    // $(`#${id}`).append($('<option>').val("null").text(label))

    $.each(data, (i, item) => {
        if (item.id == selectedid) {
            $(`#${id}`).append($('<option selected>').val(`${item.date} at ${item.time}`).text(`${item.date} at ${item.time}`))
        } else {
            $(`#${id}`).append($('<option>').val(`${item.date} at ${item.time}`).text(`${item.date} at ${item.time}`))
        }
    })
}




function fillDropDown1(id, data, label, selectedid = 0) {
    $(`#${id}`).empty()
    // $(`#${id}`).append($('<option>').val("null").text(label))

    $.each(data, (i, item) => {
        if (item.id == selectedid) {
            $(`#${id}`).append($('<option selected>').val(`${item.area} - ${item.name}`).text(`${item.area} - ${item.name}`))
        } else {
            $(`#${id}`).append($('<option>').val(`${item.area} - ${item.name}`).text(`${item.area} - ${item.name}`))
        }
    })
}


$('.saved_address').click(function(){
	let username = $(this).attr('username')
	let state = $(this).attr('state')
	let city = $(this).attr('city')
	let pincode = $(this).attr('pincode')
	let area = $(this).attr('area')
	let landmark = $(this).attr('landmark')
	let email = $(this).attr('email')


	$('#checkoutBillingFirstName').val(username)
	$('#checkoutBillingAddress').val(area)
	$('#checkoutBillingAddressTwo').val(landmark)
	$('#checkoutBillingTown').val(city)
	$('#checkoutBillingState').val(state)
	$('#pincode').val(pincode)
	$('#checkoutBillingEmail').val(email)

})

</script>

 