<%- include ('./indexheader.ejs') %>    


    <!-- header section end -->

    <!-- main content start -->

    <!-- Hero Slider Start -->
    <section class="hero-section">
        <div class="hero-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <!-- swiper-slide start -->
                    <div class="hero-slide-item slider-height1 swiper-slide animate-style1 slide-bg1">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="hero-slide-content">
                                        <h2 class="title text-white delay1 animated">
                                            Healthy Organic
                                        </h2>
                                        <br />
                                        <h2 class="title text-white delay2 animated">
                                            Roasted Cashews
                                        </h2>
                                        <br />
                                        <p class="text text-white animated">
                                            Free Shipping On Qualified Orders Over $35
                                        </p>

                                        <br />
                                        <!-- <a href="shop-grid-3-column.html" class="btn animated btn-light">Shop Now</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- swiper-slide end-->

                    <!-- swiper-slide start -->
                    <div class="hero-slide-item slider-height1 swiper-slide animate-style2 slide-bg2">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="hero-slide-content">
                                        <h2 class="title text-white delay1 animated">
                                            Potato Chips
                                        </h2>
                                        <br />
                                        <h2 class="title text-white delay2 animated">
                                            & Peppers
                                        </h2>
                                        <br />
                                        <p class="text text-white animated">
                                            Awesome Single-Serve Snacks For Only $19.95
                                        </p>
                                        <br />
                                        <!-- <a href="shop-grid-3-column.html" class="btn animated btn-light">Shop Now</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- swiper-slide end-->
                </div>
            </div>

            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- swiper navigation -->
            <div class="d-none d-lg-block">
                <div class="swiper-button-prev">
                    <i class="las la-chevron-circle-left"></i>
                </div>
                <div class="swiper-button-next">
                    <i class="las la-chevron-circle-right"></i>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Slider End -->

    <!-- Food Category section start -->

    <section class="food-category-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="food-category-carousel food-carousel-box-shadow food-carousel-negative-space">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <!-- swiper-slide start -->

<% for(i=0;i<result[0].length;i++) { %>


    <div class="food-category-item swiper-slide">
        <a href="/shop?categoryid=<%=result[0][i].id%>" class="food-catery-thumb">
            <img src="/images/<%=result[0][i].image%>" alt="image_not_found" />
        </a>
        <h3 class="food-catery-title">
            <a href="#"><%=result[0][i].name%></a>
        </h3>
    </div>

    <% } %>

                              
                                <!-- swiper-slide end-->

                            </div>
                        </div>

                        <!-- swiper navigation -->
                        <div class="swiper-button-prev">
                            <i class="las la-angle-left"></i>
                        </div>
                        <div class="swiper-button-next">
                            <i class="las la-angle-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Food Category section end -->

    <!-- deal carousel satrt -->
 
    <!-- deal carousel end -->

    <!-- Product Carousel section start -->




<% for(i=0;i<5;i++) { %>

    <section class="product-carousel" style="margin-top: 20px;">
        <div class="container position-relative">
            <div class="row">
                <div class="section-title">
                    <h2 class="title">Fresh Food</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="custom-container">
                        <div class="custom-col-left">
                            <aside class="sidebar-widgets">
                                <div class="widget">
                                    <div class="product-box">
                                        <a href="shop-grid-4-column.html" class="banner-box-animation">
                                            <img src="assets/images/banner/sidebar1.jpg" alt="images_not_found" />
                                        </a>
                                      
                                    </div>
                                </div>
                            </aside>
                        </div>





                        <div class="custom-col-right">
                            <div class="food-carousel-five-items">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <!-- swiper-slide start -->
                                        <div class="row">



<% for(j=0;j<8;j++) { %>

                                            <div class="col-lg-3">
                                                <div class="product-card-list">
                                                    <!-- product-card start -->
                                                    <div class="product-card">
                                                        <span class="badge bg-success product-badge">new</span>
                                                        <div class="product-thumb-nail">
                                                            <a href="#">
                                                                <img class="product-image" src="assets/images/products/product-1.jpg" alt="image_not_found" />
                                                            </a>
                                                           
                                                        </div>
                                                        <div class="product-content">
                                                            <h4 class="product-sub-title"><a href="#">Fresh Vegetables</a></h4>
                                                            <h3 class="product-title"><a href="single-product.html">Warburtons 9 Crumpets</a></h3>
                                                            <div class="product-price-wrapp">
                                                                <span class="product-regular-price">€43.80</span>
                                                                <span class="product-price-on-sale">€39.42</span>
                                                                <span class="badge bg-success">-20%</span>
                                                            </div>
                                                            <div class="product-cart-btn-wrap">
                                                                <button data-bs-toggle="modal" data-bs-target="#addto-cart-modal" class="btn btn-dark add-to-cart-btn">Add to cart</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- product-card end -->
                                                </div>
                                            </div>


                                            <% } %>

                                           



                                            
                                            <!-- product-card-list start -->
                                            

                                            <!-- product-card-list end -->

                                            <!-- product-card-list start -->
                                          
                                            <!-- product-card-list end -->

                                        </div>
                                      
                                        <!-- swiper-slide end-->
                                    </div>

                                </div>

                                <!-- swiper navigation -->
                                <div class="swiper-button-prev common-swiper-button-prev">
                                    <i class="las la-angle-left"></i>
                                </div>
                                <div class="swiper-button-next common-swiper-button-next">
                                    <i class="las la-angle-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <% } %>
    <!-- Product Carousel section end -->


    <!-- product tab slider start -->
    <section class="product-tab-section" style="margin-top: 20px;">

        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-5 col-md-4 col-12">
                    <div class="section-title">
                        <h2 class="title">Latests products</h2>
                    </div>
                </div>
                <div class="col-xl-7 col-md-8 col-12">
                    <ul class="nav nav-pills product-tab-nav" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-selected="true">Fresh Fruit</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab">Fresh
                                Vegetables</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab">Fresh Salad &
                                Dips</button>
                        </li>
                    </ul>
                </div>


            </div>
            <div class="row">
                <div class="col-12">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home">
                            <div class="tab-carousel">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <!-- swiper-slide start -->
                                        <div class="tab-carousel-item swiper-slide">
                                            <!-- product-tab-card-list start -->
                                            <div class="product-tab-card-list">
                                                <!-- product-tab-card start -->
                                                <div class="product-tab-card">

                                                    <div class="product-tab-thumb-nail">
                                                        <a href="single-product.html">
                                                            <img class="product-tab-image" src="assets/images/products/product-10.jpg" alt="image_not_found" />
                                                        </a>
                                                        <div class="quick-view-btn-wrap">
                                                            <button class="quick-view-btn" data-bs-toggle="modal" data-bs-target="#product-modal">
                                                                <i class="las la-eye"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="product-tab-content">
                                                        <h4 class="product-sub-title"><a href="#">Fresh Vegetables</a></h4>
                                                        <h3 class="product-title"><a href="single-product.html">Mini Corn Cobs 625g</a></h3>
                                                        <div class="product-price-wrapp">
                                                            <span class="product-regular-price">€43.80</span>
                                                            <span class="product-price-on-sale">€39.42</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- product-tab-card end -->
                                            </div>

                                            <!-- product-tab-card-list end -->
                                            <!-- product-tab-card-list start -->
                                            <div class="product-tab-card-list">
                                                <!-- product-tab-card start -->
                                                <div class="product-tab-card">

                                                    <div class="product-tab-thumb-nail">
                                                        <a href="single-product.html">
                                                            <img class="product-tab-image" src="assets/images/products/product-4.jpg" alt="image_not_found" />
                                                            <img class="product-tab-image-hover-style" src="assets/images/products/product-4.1.jpg" alt="image_not_found" />
                                                        </a>
                                                        <div class="quick-view-btn-wrap">
                                                            <button class="quick-view-btn" data-bs-toggle="modal" data-bs-target="#product-modal">
                                                                <i class="las la-eye"></i>
                                                            </button>
                                                        </div>

                                                    </div>
                                                    <div class="product-tab-content">
                                                        <h4 class="product-sub-title"><a href="#">Fresh Vegetables</a></h4>
                                                        <h3 class="product-title"><a href="single-product.html">Salad Selection Pack</a></h3>
                                                        <div class="product-price-wrapp">
                                                            <span class="product-regular-price">€43.80</span>
                                                            <span class="product-price-on-sale">€39.42</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- product-tab-card end -->
                                            </div>

                                            <!-- product-tab-card-list end -->

                                        </div>
                                        <!-- swiper-slide end-->
                                        <!-- swiper-slide start -->
                                        <div class="tab-carousel-item swiper-slide">
                                            <!-- product-tab-card-list start -->
                                            <div class="product-tab-card-list">
                                                <!-- product-tab-card start -->
                                                <div class="product-tab-card">

                                                    <div class="product-tab-thumb-nail">
                                                        <a href="single-product.html">
                                                            <img class="product-tab-image" src="assets/images/products/product-5.jpg" alt="image_not_found" />
                                                            <img class="product-tab-image-hover-style" src="assets/images/products/product-5.1.jpg" alt="image_not_found" />
                                                        </a>
                                                        <div class="quick-view-btn-wrap">
                                                            <button class="quick-view-btn" data-bs-toggle="modal" data-bs-target="#product-modal">
                                                                <i class="las la-eye"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="product-tab-content">
                                                        <h4 class="product-sub-title"><a href="#">Fresh Vegetables</a></h4>
                                                        <h3 class="product-title"><a href="single-product.html">Pink Lady Apples 4 Pack</a></h3>
                                                        <div class="product-price-wrapp">
                                                            <span class="product-regular-price">€43.80</span>
                                                            <span class="product-price-on-sale">€39.42</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- product-tab-card end -->
                                            </div>

                                            <!-- product-tab-card-list end -->
                                            <!-- product-tab-card-list start -->
                                            <div class="product-tab-card-list">
                                                <!-- product-tab-card start -->
                                                <div class="product-tab-card">

                                                    <div class="product-tab-thumb-nail">
                                                        <a href="single-product.html">
                                                            <img class="product-tab-image" src="assets/images/products/product-13.jpg" alt="image_not_found" />
                                                            <img class="product-tab-image-hover-style" src="assets/images/products/product-13.1.jpg" alt="image_not_found" />
                                                        </a>
                                                        <div class="quick-view-btn-wrap">
                                                            <button class="quick-view-btn" data-bs-toggle="modal" data-bs-target="#product-modal">
                                                                <i class="las la-eye"></i>
                                                            </button>
                                                        </div>

                                                    </div>
                                                    <div class="product-tab-content">
                                                        <h4 class="product-sub-title"><a href="#">Fresh Vegetables</a></h4>
                                                        <h3 class="product-title"><a href="single-product.html">Fresh pomegranate 300g</a></h3>
                                                        <div class="product-price-wrapp">
                                                            <span class="product-regular-price">€43.80</span>
                                                            <span class="product-price-on-sale">€39.42</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- product-tab-card end -->
                                            </div>

                                            <!-- product-tab-card-list end -->

                                        </div>
                                        <!-- swiper-slide end-->
                                        <!-- swiper-slide start -->
                                        <div class="tab-carousel-item swiper-slide">
                                            <!-- product-tab-card-list start -->
                                            <div class="product-tab-card-list">
                                                <!-- product-tab-card start -->
                                                <div class="product-tab-card">

                                                    <div class="product-tab-thumb-nail">
                                                        <a href="single-product.html">
                                                            <img class="product-tab-image" src="assets/images/products/product-14.jpg" alt="image_not_found" />
                                                            <img class="product-tab-image-hover-style" src="assets/images/products/product-14.1.jpg" alt="image_not_found" />
                                                        </a>
                                                        <div class="quick-view-btn-wrap">
                                                            <button class="quick-view-btn" data-bs-toggle="modal" data-bs-target="#product-modal">
                                                                <i class="las la-eye"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="product-tab-content">
                                                        <h4 class="product-sub-title"><a href="#">Fresh Vegetables</a></h4>
                                                        <h3 class="product-title"><a href="single-product.html">Gilfresh Soup Vegetables</a></h3>
                                                        <div class="product-price-wrapp">
                                                            <span class="product-regular-price">€43.80</span>
                                                            <span class="product-price-on-sale">€39.42</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- product-tab-card end -->
                                            </div>

                                            <!-- product-tab-card-list end -->
                                            <!-- product-tab-card-list start -->
                                            <div class="product-tab-card-list">
                                                <!-- product-tab-card start -->
                                                <div class="product-tab-card">

                                                    <div class="product-tab-thumb-nail">
                                                        <a href="single-product.html">
                                                            <img class="product-tab-image" src="assets/images/products/product-3.jpg" alt="image_not_found" />
                                                        </a>
                                                        <div class="quick-view-btn-wrap">
                                                            <button class="quick-view-btn" data-bs-toggle="modal" data-bs-target="#product-modal">
                                                                <i class="las la-eye"></i>
                                                            </button>
                                                        </div>

                                                    </div>
                                                    <div class="product-tab-content">
                                                        <h4 class="product-sub-title"><a href="#">Fresh Vegetables</a></h4>
                                                        <h3 class="product-title"><a href="single-product.html">Snacking Essentials Cashew</a></h3>
                                                        <div class="product-price-wrapp">
                                                            <span class="product-regular-price">€43.80</span>
                                                            <span class="product-price-on-sale">€39.42</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- product-tab-card end -->
                                            </div>

                                            <!-- product-tab-card-list end -->

                                        </div>
                                        <!-- swiper-slide end-->
                                        <!-- swiper-slide start -->
                                        <div class="tab-carousel-item swiper-slide">
                                            <!-- product-tab-card-list start -->
                                            <div class="product-tab-card-list">
                                                <!-- product-tab-card start -->
                                                <div class="product-tab-card">

                                                    <div class="product-tab-thumb-nail">
                                                        <a href="single-product.html">
                                                            <img class="product-tab-image" src="assets/images/products/product-13.jpg" alt="image_not_found" />
                                                            <img class="product-tab-image-hover-style" src="assets/images/products/product-13.1.jpg" alt="image_not_found" />
                                                        </a>
                                                        <div class="quick-view-btn-wrap">
                                                            <button class="quick-view-btn" data-bs-toggle="modal" data-bs-target="#product-modal">
                                                                <i class="las la-eye"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="product-tab-content">
                                                        <h4 class="product-sub-title"><a href="#">Fresh fruits</a></h4>
                                                        <h3 class="product-title"><a href="single-product.html">Fresh pomegranate 300g</a></h3>
                                                        <div class="product-price-wrapp">
                                                            <span class="product-regular-price">€43.80</span>
                                                            <span class="product-price-on-sale">€39.42</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- product-tab-card end -->
                                            </div>

                                            <!-- product-tab-card-list end -->
                                            <!-- product-tab-card-list start -->
                                            <div class="product-tab-card-list">
                                                <!-- product-tab-card start -->
                                                <div class="product-tab-card">

                                                    <div class="product-tab-thumb-nail">
                                                        <a href="single-product.html">
                                                            <img class="product-tab-image" src="assets/images/products/product-4.jpg" alt="image_not_found" />
                                                            <img class="product-tab-image-hover-style" src="assets/images/products/product-4.1.jpg" alt="image_not_found" />
                                                        </a>
                                                        <div class="quick-view-btn-wrap">
                                                            <button class="quick-view-btn" data-bs-toggle="modal" data-bs-target="#product-modal">
                                                                <i class="las la-eye"></i>
                                                            </button>
                                                        </div>

                                                    </div>
                                                    <div class="product-tab-content">
                                                        <h4 class="product-sub-title"><a href="#">Fresh Vegetables</a></h4>
                                                        <h3 class="product-title"><a href="single-product.html">Salad Selection Pack</a></h3>
                                                        <div class="product-price-wrapp">
                                                            <span class="product-regular-price">€43.80</span>
                                                            <span class="product-price-on-sale">€39.42</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- product-tab-card end -->
                                            </div>

                                            <!-- product-tab-card-list end -->

                                        </div>
                                        <!-- swiper-slide end-->
                                    </div>
                                </div>

                                <!-- swiper navigation -->
                                <div class="swiper-button-prev common-swiper-button-prev">
                                    <i class="las la-angle-left"></i>
                                </div>
                                <div class="swiper-button-next common-swiper-button-next">
                                    <i class="las la-angle-right"></i>
                                </div>

                            </div>

                        </div>
                        <div class="tab-pane fade" id="pills-profile">
                            <div class="tab-carousel">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <!-- swiper-slide start -->
                                        <div class="tab-carousel-item swiper-slide">
                                            <!-- product-tab-card-list start -->
                                            <div class="product-tab-card-list">
                                                <!-- product-tab-card start -->
                                                <div class="product-tab-card">

                                                    <div class="product-tab-thumb-nail">
                                                        <a href="single-product.html">
                                                            <img class="product-tab-image" src="assets/images/products/product-10.jpg" alt="image_not_found" />
                                                        </a>
                                                        <div class="quick-view-btn-wrap">
                                                            <button class="quick-view-btn" data-bs-toggle="modal" data-bs-target="#product-modal">
                                                                <i class="las la-eye"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="product-tab-content">
                                                        <h4 class="product-sub-title"><a href="#">Fresh Vegetables</a></h4>
                                                        <h3 class="product-title"><a href="single-product.html">Mini Corn Cobs 625g</a></h3>
                                                        <div class="product-price-wrapp">
                                                            <span class="product-regular-price">€43.80</span>
                                                            <span class="product-price-on-sale">€39.42</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- product-tab-card end -->
                                            </div>

                                            <!-- product-tab-card-list end -->
                                            <!-- product-tab-card-list start -->
                                            <div class="product-tab-card-list">
                                                <!-- product-tab-card start -->
                                                <div class="product-tab-card">

                                                    <div class="product-tab-thumb-nail">
                                                        <a href="single-product.html">
                                                            <img class="product-tab-image" src="assets/images/products/product-4.jpg" alt="image_not_found" />
                                                            <img class="product-tab-image-hover-style" src="assets/images/products/product-4.1.jpg" alt="image_not_found" />
                                                        </a>
                                                        <div class="quick-view-btn-wrap">
                                                            <button class="quick-view-btn" data-bs-toggle="modal" data-bs-target="#product-modal">
                                                                <i class="las la-eye"></i>
                                                            </button>
                                                        </div>

                                                    </div>
                                                    <div class="product-tab-content">
                                                        <h4 class="product-sub-title"><a href="#">Fresh Vegetables</a></h4>
                                                        <h3 class="product-title"><a href="single-product.html">Salad Selection Pack</a></h3>
                                                        <div class="product-price-wrapp">
                                                            <span class="product-regular-price">€43.80</span>
                                                            <span class="product-price-on-sale">€39.42</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- product-tab-card end -->
                                            </div>

                                            <!-- product-tab-card-list end -->

                                        </div>
                                        <!-- swiper-slide end-->
                                        <!-- swiper-slide start -->
                                        <div class="tab-carousel-item swiper-slide">
                                            <!-- product-tab-card-list start -->
                                            <div class="product-tab-card-list">
                                                <!-- product-tab-card start -->
                                                <div class="product-tab-card">

                                                    <div class="product-tab-thumb-nail">
                                                        <a href="single-product.html">
                                                            <img class="product-tab-image" src="assets/images/products/product-5.jpg" alt="image_not_found" />
                                                            <img class="product-tab-image-hover-style" src="assets/images/products/product-5.1.jpg" alt="image_not_found" />
                                                        </a>
                                                        <div class="quick-view-btn-wrap">
                                                            <button class="quick-view-btn" data-bs-toggle="modal" data-bs-target="#product-modal">
                                                                <i class="las la-eye"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="product-tab-content">
                                                        <h4 class="product-sub-title"><a href="#">Fresh Vegetables</a></h4>
                                                        <h3 class="product-title"><a href="single-product.html">Pink Lady Apples 4 Pack</a></h3>
                                                        <div class="product-price-wrapp">
                                                            <span class="product-regular-price">€43.80</span>
                                                            <span class="product-price-on-sale">€39.42</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- product-tab-card end -->
                                            </div>

                                            <!-- product-tab-card-list end -->
                                            <!-- product-tab-card-list start -->
                                            <div class="product-tab-card-list">
                                                <!-- product-tab-card start -->
                                                <div class="product-tab-card">

                                                    <div class="product-tab-thumb-nail">
                                                        <a href="single-product.html">
                                                            <img class="product-tab-image" src="assets/images/products/product-13.jpg" alt="image_not_found" />
                                                            <img class="product-tab-image-hover-style" src="assets/images/products/product-13.1.jpg" alt="image_not_found" />
                                                        </a>
                                                        <div class="quick-view-btn-wrap">
                                                            <button class="quick-view-btn" data-bs-toggle="modal" data-bs-target="#product-modal">
                                                                <i class="las la-eye"></i>
                                                            </button>
                                                        </div>

                                                    </div>
                                                    <div class="product-tab-content">
                                                        <h4 class="product-sub-title"><a href="#">Fresh Vegetables</a></h4>
                                                        <h3 class="product-title"><a href="single-product.html">Fresh pomegranate 300g</a></h3>
                                                        <div class="product-price-wrapp">
                                                            <span class="product-regular-price">€43.80</span>
                                                            <span class="product-price-on-sale">€39.42</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- product-tab-card end -->
                                            </div>

                                            <!-- product-tab-card-list end -->

                                        </div>
                                        <!-- swiper-slide end-->
                                        <!-- swiper-slide start -->
                                        <div class="tab-carousel-item swiper-slide">
                                            <!-- product-tab-card-list start -->
                                            <div class="product-tab-card-list">
                                                <!-- product-tab-card start -->
                                                <div class="product-tab-card">

                                                    <div class="product-tab-thumb-nail">
                                                        <a href="single-product.html">
                                                            <img class="product-tab-image" src="assets/images/products/product-14.jpg" alt="image_not_found" />
                                                            <img class="product-tab-image-hover-style" src="assets/images/products/product-14.1.jpg" alt="image_not_found" />
                                                        </a>
                                                        <div class="quick-view-btn-wrap">
                                                            <button class="quick-view-btn" data-bs-toggle="modal" data-bs-target="#product-modal">
                                                                <i class="las la-eye"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="product-tab-content">
                                                        <h4 class="product-sub-title"><a href="#">Fresh Vegetables</a></h4>
                                                        <h3 class="product-title"><a href="single-product.html">Gilfresh Soup Vegetables</a></h3>
                                                        <div class="product-price-wrapp">
                                                            <span class="product-regular-price">€43.80</span>
                                                            <span class="product-price-on-sale">€39.42</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- product-tab-card end -->
                                            </div>

                                            <!-- product-tab-card-list end -->
                                            <!-- product-tab-card-list start -->
                                            <div class="product-tab-card-list">
                                                <!-- product-tab-card start -->
                                                <div class="product-tab-card">

                                                    <div class="product-tab-thumb-nail">
                                                        <a href="single-product.html">
                                                            <img class="product-tab-image" src="assets/images/products/product-3.jpg" alt="image_not_found" />
                                                        </a>
                                                        <div class="quick-view-btn-wrap">
                                                            <button class="quick-view-btn" data-bs-toggle="modal" data-bs-target="#product-modal">
                                                                <i class="las la-eye"></i>
                                                            </button>
                                                        </div>

                                                    </div>
                                                    <div class="product-tab-content">
                                                        <h4 class="product-sub-title"><a href="#">Fresh Vegetables</a></h4>
                                                        <h3 class="product-title"><a href="single-product.html">Snacking Essentials Cashew</a></h3>
                                                        <div class="product-price-wrapp">
                                                            <span class="product-regular-price">€43.80</span>
                                                            <span class="product-price-on-sale">€39.42</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- product-tab-card end -->
                                            </div>

                                            <!-- product-tab-card-list end -->

                                        </div>
                                        <!-- swiper-slide end-->
                                        <!-- swiper-slide start -->
                                        <div class="tab-carousel-item swiper-slide">
                                            <!-- product-tab-card-list start -->
                                            <div class="product-tab-card-list">
                                                <!-- product-tab-card start -->
                                                <div class="product-tab-card">

                                                    <div class="product-tab-thumb-nail">
                                                        <a href="single-product.html">
                                                            <img class="product-tab-image" src="assets/images/products/product-13.jpg" alt="image_not_found" />
                                                            <img class="product-tab-image-hover-style" src="assets/images/products/product-13.1.jpg" alt="image_not_found" />
                                                        </a>
                                                        <div class="quick-view-btn-wrap">
                                                            <button class="quick-view-btn" data-bs-toggle="modal" data-bs-target="#product-modal">
                                                                <i class="las la-eye"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="product-tab-content">
                                                        <h4 class="product-sub-title"><a href="#">Fresh fruits</a></h4>
                                                        <h3 class="product-title"><a href="single-product.html">Fresh pomegranate 300g</a></h3>
                                                        <div class="product-price-wrapp">
                                                            <span class="product-regular-price">€43.80</span>
                                                            <span class="product-price-on-sale">€39.42</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- product-tab-card end -->
                                            </div>

                                            <!-- product-tab-card-list end -->
                                            <!-- product-tab-card-list start -->
                                            <div class="product-tab-card-list">
                                                <!-- product-tab-card start -->
                                                <div class="product-tab-card">

                                                    <div class="product-tab-thumb-nail">
                                                        <a href="single-product.html">
                                                            <img class="product-tab-image" src="assets/images/products/product-4.jpg" alt="image_not_found" />
                                                            <img class="product-tab-image-hover-style" src="assets/images/products/product-4.1.jpg" alt="image_not_found" />
                                                        </a>
                                                        <div class="quick-view-btn-wrap">
                                                            <button class="quick-view-btn" data-bs-toggle="modal" data-bs-target="#product-modal">
                                                                <i class="las la-eye"></i>
                                                            </button>
                                                        </div>

                                                    </div>
                                                    <div class="product-tab-content">
                                                        <h4 class="product-sub-title"><a href="#">Fresh Vegetables</a></h4>
                                                        <h3 class="product-title"><a href="single-product.html">Salad Selection Pack</a></h3>
                                                        <div class="product-price-wrapp">
                                                            <span class="product-regular-price">€43.80</span>
                                                            <span class="product-price-on-sale">€39.42</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- product-tab-card end -->
                                            </div>

                                            <!-- product-tab-card-list end -->

                                        </div>
                                        <!-- swiper-slide end-->
                                    </div>
                                </div>

                                <!-- swiper navigation -->
                                <div class="swiper-button-prev common-swiper-button-prev">
                                    <i class="las la-angle-left"></i>
                                </div>
                                <div class="swiper-button-next common-swiper-button-next">
                                    <i class="las la-angle-right"></i>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-contact">
                            <div class="tab-carousel">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <!-- swiper-slide start -->
                                        <div class="tab-carousel-item swiper-slide">
                                            <!-- product-tab-card-list start -->
                                            <div class="product-tab-card-list">
                                                <!-- product-tab-card start -->
                                                <div class="product-tab-card">

                                                    <div class="product-tab-thumb-nail">
                                                        <a href="single-product.html">
                                                            <img class="product-tab-image" src="assets/images/products/product-10.jpg" alt="image_not_found" />
                                                        </a>
                                                        <div class="quick-view-btn-wrap">
                                                            <button class="quick-view-btn" data-bs-toggle="modal" data-bs-target="#product-modal">
                                                                <i class="las la-eye"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="product-tab-content">
                                                        <h4 class="product-sub-title"><a href="#">Fresh Vegetables</a></h4>
                                                        <h3 class="product-title"><a href="single-product.html">Mini Corn Cobs 625g</a></h3>
                                                        <div class="product-price-wrapp">
                                                            <span class="product-regular-price">€43.80</span>
                                                            <span class="product-price-on-sale">€39.42</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- product-tab-card end -->
                                            </div>

                                            <!-- product-tab-card-list end -->
                                            <!-- product-tab-card-list start -->
                                            <div class="product-tab-card-list">
                                                <!-- product-tab-card start -->
                                                <div class="product-tab-card">

                                                    <div class="product-tab-thumb-nail">
                                                        <a href="single-product.html">
                                                            <img class="product-tab-image" src="assets/images/products/product-4.jpg" alt="image_not_found" />
                                                            <img class="product-tab-image-hover-style" src="assets/images/products/product-4.1.jpg" alt="image_not_found" />
                                                        </a>
                                                        <div class="quick-view-btn-wrap">
                                                            <button class="quick-view-btn" data-bs-toggle="modal" data-bs-target="#product-modal">
                                                                <i class="las la-eye"></i>
                                                            </button>
                                                        </div>

                                                    </div>
                                                    <div class="product-tab-content">
                                                        <h4 class="product-sub-title"><a href="#">Fresh Vegetables</a></h4>
                                                        <h3 class="product-title"><a href="single-product.html">Salad Selection Pack</a></h3>
                                                        <div class="product-price-wrapp">
                                                            <span class="product-regular-price">€43.80</span>
                                                            <span class="product-price-on-sale">€39.42</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- product-tab-card end -->
                                            </div>

                                            <!-- product-tab-card-list end -->

                                        </div>
                                        <!-- swiper-slide end-->
                                        <!-- swiper-slide start -->
                                        <div class="tab-carousel-item swiper-slide">
                                            <!-- product-tab-card-list start -->
                                            <div class="product-tab-card-list">
                                                <!-- product-tab-card start -->
                                                <div class="product-tab-card">

                                                    <div class="product-tab-thumb-nail">
                                                        <a href="single-product.html">
                                                            <img class="product-tab-image" src="assets/images/products/product-5.jpg" alt="image_not_found" />
                                                            <img class="product-tab-image-hover-style" src="assets/images/products/product-5.1.jpg" alt="image_not_found" />
                                                        </a>
                                                        <div class="quick-view-btn-wrap">
                                                            <button class="quick-view-btn" data-bs-toggle="modal" data-bs-target="#product-modal">
                                                                <i class="las la-eye"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="product-tab-content">
                                                        <h4 class="product-sub-title"><a href="#">Fresh Vegetables</a></h4>
                                                        <h3 class="product-title"><a href="single-product.html">Pink Lady Apples 4 Pack</a></h3>
                                                        <div class="product-price-wrapp">
                                                            <span class="product-regular-price">€43.80</span>
                                                            <span class="product-price-on-sale">€39.42</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- product-tab-card end -->
                                            </div>

                                            <!-- product-tab-card-list end -->
                                            <!-- product-tab-card-list start -->
                                            <div class="product-tab-card-list">
                                                <!-- product-tab-card start -->
                                                <div class="product-tab-card">

                                                    <div class="product-tab-thumb-nail">
                                                        <a href="single-product.html">
                                                            <img class="product-tab-image" src="assets/images/products/product-13.jpg" alt="image_not_found" />
                                                            <img class="product-tab-image-hover-style" src="assets/images/products/product-13.1.jpg" alt="image_not_found" />
                                                        </a>
                                                        <div class="quick-view-btn-wrap">
                                                            <button class="quick-view-btn" data-bs-toggle="modal" data-bs-target="#product-modal">
                                                                <i class="las la-eye"></i>
                                                            </button>
                                                        </div>

                                                    </div>
                                                    <div class="product-tab-content">
                                                        <h4 class="product-sub-title"><a href="#">Fresh Vegetables</a></h4>
                                                        <h3 class="product-title"><a href="single-product.html">Fresh pomegranate 300g</a></h3>
                                                        <div class="product-price-wrapp">
                                                            <span class="product-regular-price">€43.80</span>
                                                            <span class="product-price-on-sale">€39.42</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- product-tab-card end -->
                                            </div>

                                            <!-- product-tab-card-list end -->

                                        </div>
                                        <!-- swiper-slide end-->
                                        <!-- swiper-slide start -->
                                        <div class="tab-carousel-item swiper-slide">
                                            <!-- product-tab-card-list start -->
                                            <div class="product-tab-card-list">
                                                <!-- product-tab-card start -->
                                                <div class="product-tab-card">

                                                    <div class="product-tab-thumb-nail">
                                                        <a href="single-product.html">
                                                            <img class="product-tab-image" src="assets/images/products/product-14.jpg" alt="image_not_found" />
                                                            <img class="product-tab-image-hover-style" src="assets/images/products/product-14.1.jpg" alt="image_not_found" />
                                                        </a>
                                                        <div class="quick-view-btn-wrap">
                                                            <button class="quick-view-btn" data-bs-toggle="modal" data-bs-target="#product-modal">
                                                                <i class="las la-eye"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="product-tab-content">
                                                        <h4 class="product-sub-title"><a href="#">Fresh Vegetables</a></h4>
                                                        <h3 class="product-title"><a href="single-product.html">Gilfresh Soup Vegetables</a></h3>
                                                        <div class="product-price-wrapp">
                                                            <span class="product-regular-price">€43.80</span>
                                                            <span class="product-price-on-sale">€39.42</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- product-tab-card end -->
                                            </div>

                                            <!-- product-tab-card-list end -->
                                            <!-- product-tab-card-list start -->
                                            <div class="product-tab-card-list">
                                                <!-- product-tab-card start -->
                                                <div class="product-tab-card">

                                                    <div class="product-tab-thumb-nail">
                                                        <a href="single-product.html">
                                                            <img class="product-tab-image" src="assets/images/products/product-3.jpg" alt="image_not_found" />
                                                        </a>
                                                        <div class="quick-view-btn-wrap">
                                                            <button class="quick-view-btn" data-bs-toggle="modal" data-bs-target="#product-modal">
                                                                <i class="las la-eye"></i>
                                                            </button>
                                                        </div>

                                                    </div>
                                                    <div class="product-tab-content">
                                                        <h4 class="product-sub-title"><a href="#">Fresh Vegetables</a></h4>
                                                        <h3 class="product-title"><a href="single-product.html">Snacking Essentials Cashew</a></h3>
                                                        <div class="product-price-wrapp">
                                                            <span class="product-regular-price">€43.80</span>
                                                            <span class="product-price-on-sale">€39.42</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- product-tab-card end -->
                                            </div>

                                            <!-- product-tab-card-list end -->

                                        </div>
                                        <!-- swiper-slide end-->
                                        <!-- swiper-slide start -->
                                        <div class="tab-carousel-item swiper-slide">
                                            <!-- product-tab-card-list start -->
                                            <div class="product-tab-card-list">
                                                <!-- product-tab-card start -->
                                                <div class="product-tab-card">

                                                    <div class="product-tab-thumb-nail">
                                                        <a href="single-product.html">
                                                            <img class="product-tab-image" src="assets/images/products/product-13.jpg" alt="image_not_found" />
                                                            <img class="product-tab-image-hover-style" src="assets/images/products/product-13.1.jpg" alt="image_not_found" />
                                                        </a>
                                                        <div class="quick-view-btn-wrap">
                                                            <button class="quick-view-btn" data-bs-toggle="modal" data-bs-target="#product-modal">
                                                                <i class="las la-eye"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="product-tab-content">
                                                        <h4 class="product-sub-title"><a href="#">Fresh fruits</a></h4>
                                                        <h3 class="product-title"><a href="single-product.html">Fresh pomegranate 300g</a></h3>
                                                        <div class="product-price-wrapp">
                                                            <span class="product-regular-price">€43.80</span>
                                                            <span class="product-price-on-sale">€39.42</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- product-tab-card end -->
                                            </div>

                                            <!-- product-tab-card-list end -->
                                            <!-- product-tab-card-list start -->
                                            <div class="product-tab-card-list">
                                                <!-- product-tab-card start -->
                                                <div class="product-tab-card">

                                                    <div class="product-tab-thumb-nail">
                                                        <a href="single-product.html">
                                                            <img class="product-tab-image" src="assets/images/products/product-4.jpg" alt="image_not_found" />
                                                            <img class="product-tab-image-hover-style" src="assets/images/products/product-4.1.jpg" alt="image_not_found" />
                                                        </a>
                                                        <div class="quick-view-btn-wrap">
                                                            <button class="quick-view-btn" data-bs-toggle="modal" data-bs-target="#product-modal">
                                                                <i class="las la-eye"></i>
                                                            </button>
                                                        </div>

                                                    </div>
                                                    <div class="product-tab-content">
                                                        <h4 class="product-sub-title"><a href="#">Fresh Vegetables</a></h4>
                                                        <h3 class="product-title"><a href="single-product.html">Salad Selection Pack</a></h3>
                                                        <div class="product-price-wrapp">
                                                            <span class="product-regular-price">€43.80</span>
                                                            <span class="product-price-on-sale">€39.42</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- product-tab-card end -->
                                            </div>

                                            <!-- product-tab-card-list end -->

                                        </div>
                                        <!-- swiper-slide end-->
                                    </div>
                                </div>

                                <!-- swiper navigation -->
                                <div class="swiper-button-prev common-swiper-button-prev">
                                    <i class="las la-angle-left"></i>
                                </div>
                                <div class="swiper-button-next common-swiper-button-next">
                                    <i class="las la-angle-right"></i>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product tab slider end -->

    <!-- main-banner-section start -->

 

    <!-- main-banner-section end -->

    <!-- featured carousel section start -->

    <!-- brand carousel end -->


 


    <!-- service section start -->
    <section class="service-section section-mt section-mb">
        <div class="container">
            <div class="services">
                <div class="row mb-n7">

                    <div class="col-sm-6 col-lg-3 mb-7">
                        <div class="service-item">
                            <img class="service-icon" src="assets/images/icon/service1.png" alt="images_not_found">
                            <h3 class="service-title">100% SECURE PAYMENTS</h3>
                            <p>Moving your card details to a much more secured place</p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3 mb-7">
                        <div class="service-item">
                            <img class="service-icon" src="assets/images/icon/service2.png" alt="images_not_found">
                            <h3 class="service-title">TRUSTPAY</h3>
                            <p>100% Payment Protection. Easy Return Policy</p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3 mb-7">
                        <div class="service-item">
                            <img class="service-icon" src="assets/images/icon/service3.png" alt="images_not_found">
                            <h3 class="service-title">HELP CENTER</h3>
                            <p>GGot a question? Look no further.Browse our FAQs or submit your query here.</p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3 mb-7">
                        <div class="service-item">
                            <img class="service-icon" src="assets/images/icon/service4.png" alt="images_not_found">
                            <h3 class="service-title">Express Shipping</h3>
                            <p>Fast, reliable delivery from global warehouses</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- service section end -->


    <!-- main content end -->

<%- include ('./indexfooter.ejs') %>    
 