
<%- include ('./indexheader.ejs') %>
<link rel="stylesheet" href="https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.css">


			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
		
			
			
			<!-- =========================== Search Products =================================== -->
			<section>
				<div class="container">
					
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="filter_search_opt">
								<a href="javascript:void(0);" onclick="openFilterSearch()"><i class="ti-filter"></i></a>
							</div>
						</div>
					</div>
					
					<div class="row">
					
						<!-- Single Product -->
						<div class="col-lg-4 col-md-12">
							<div class="search-sidebar sm-sidebar" id="filter_search"  style="left:0;">
								<div class="search-sidebar_header">
									<!-- <h4 class="ssh_heading">Close Filter</h4> -->
									<button onclick="closeFilterSearch()" class="w3-bar-item w3-button w3-large"><i class="ti-close"></i></button>
								</div>
								<div class="search-sidebar-body">
								
									<!-- Single Option -->
									<div class="single_search_boxed">
										<div class="widget-boxed-header">
											<h4 class="ml-4 mt-4"><b>Sub Category</b></h4>
										</div>
										<div class="widget-boxed-body">
											<div class="side-list no-border">
												<div class="filter-card" id="shop-categories">
													
													<!-- Single Filter Card -->
												
													
													<!-- Single Filter Card -->
													<div class="single_filter_card">
														
														<div class="collapse show" id="clothing" data-parent="#shop-categories">
															<div class="card-body">
																<div class="inner_widget_link">
																	<ul>

                                    <% for(i=0;i<result[2].length;i++) { %>
																		<li><a href="/shop/subcategory?id=<%=result[2][i].id%>"><%=result[2][i].name%></a></li>
                                    <% } %>
																	
																	</ul>
																</div>
															</div>
														</div>
													</div>
													
												
											
													
												</div>
											</div>
										</div>
									</div>
									
							
								
								
				
									
									<!-- Single Option -->
							
								
								</div>
							</div>
						</div>
						
						<div class="col-lg-8 col-md-12">
							
							<!-- Banner -->
						
							
							<!-- Shorter Toolbar -->
					
							
							<!-- row -->
							<div class="row">
							

                <% for(i=0;i<result[1].length;i++) { %>
								<!-- Single Item -->
								<div class="col-lg-4 col-md-4 col-sm-6">
									<div class="woo_product_grid">
									
										<div class="woo_product_thumb">
                      <a href="/product?id=<%=result[1][i].id%>">
											<img src="/images/<%=result[1][i].image%>" class="img-fluid" alt="" />
                      </a>
										</div>
										<div class="woo_product_caption center">
											<div class="woo_rate">
											
											</div>
											<div class="woo_title">
												<h4 class="woo_pro_title"><a href="/product?id=<%=result[1][i].id%>"><%=result[1][i].name%></a></h4>
											</div>
											<div class="woo_price">


                        <% if(result[1][i].discount == 0) { %>
                          <h6>Rs. <%=result[1][i].net_amount%></h6>
                                                  <% } else { %>
                                                      
                                                      <h6>Rs. <%=result[1][i].net_amount%><span class="less_price">Rs. <%=result[1][i].price%></span></h6>
  
  
                                                      <% } %>
											
                      
                      </div>


                      <% if(result[1][i].quantity == 0 || result[1][i].quantity < 0) { %>

                        <a  class="btn btn-danger"  style="margin-top: 20px;color: white;">Out of stock</a>

                        <% } else { %>

                            <a  class="btn btn-theme addToCart" id="addToCart" categoryname = '<%=result[1][i].name%>' subcategoryid="<%=result[1][i].subcategoryid%>"  booking_id="<%=result[1][i].id%>" price="<%=result[1][i].net_amount%>" categoryid = '<%=result[1][i].categoryid%>' style="margin-top: 20px;color: white;">Add to cart</a>

                            <% } %>


										</div>
															
									</div>
								</div>
								
                <% } %>
					
								
							</div>
							<!-- row -->
							
					
							
						</div>
						
					</div>
				</div>
			</section>
			<!-- =========================== Search Products =================================== -->

			<!-- ============================ Call To Action ================================== --> 
			<section class="theme-bg call_action_wrap-wrap">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							
							<div class="call_action_wrap">
								<div class="call_action_wrap-head">
									<h3>Do You Have Questions ?</h3>
									<span>We'll help you to grow your career and growth.</span>
								</div>
								<div class="newsletter_box">
									<div class="input-group">
										<input type="text" class="form-control" placeholder="Subscribe here...">
										<div class="input-group-append">
										<button class="btn search_btn" type="button"><i class="fas fa-arrow-alt-circle-right"></i></button>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Call To Action End ================================== -->
			
      <%- include ('./indexfooter.ejs') %>

      <script src="https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.min.js"></script>

      
<script>

  $('.addToCart').click(function(){
              
              // id="<%=result[1][0].id%>" price="<%=result[1][0].net_amount%>" categoryid = '<%=result[1][0].categoryid%>' vendorid = '<%=result[1][0].vendorid%>' 
              let quantity = 1
              let booking_id = $(this).attr('booking_id');
              let price = $(this).attr('price');
              let oneprice = $(this).attr('price');
              let categoryid = $(this).attr('categoryid');
              let subcategoryid = $(this).attr('subcategoryid');
              let categoryname = $(this).attr('categoryname');

  
              // let vendorid = $(this).attr('vendorid');
          
          
               price = price*quantity
          
              $.post('/cart-handler',{booking_id,price,categoryid,oneprice,quantity,subcategoryid},data=>{
                  swal(categoryname, "Successfully added to cart", "success");

              })
              
          })
  
  
  
  
      
  
  </script>
    	<script>
			function openRightMenu() {
				document.getElementById("rightMenu").style.display = "block";
			}
			function closeRightMenu() {
				document.getElementById("rightMenu").style.display = "none";
			}
		</script>
		
		<script>
			function openLeftMenu() {
				document.getElementById("leftMenu").style.display = "block";
			}
			function closeLeftMenu() {
				document.getElementById("leftMenu").style.display = "none";
			}
		</script>
		
		<script>
			function openFilterSearch() {
				document.getElementById("filter_search").style.display = "block";
			}
			function closeFilterSearch() {
				document.getElementById("filter_search").style.display = "none";
			}
		</script>