<%- include ('./indexheader.ejs') %>
<link rel="stylesheet" href="https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.css">
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
			
			
			
			<!-- =========================== Product Detail =================================== -->
			<section>
				<div class="container">
					<div class="row">
					
						<div class="col-lg-6 col-md-12 col-sm-12">
							<div class="sp-loading"><img src="/images/<%=result[1][0].image%>" alt=""><br>LOADING IMAGES</div>
							<div class="sp-wrap">
								<a href="/images/<%=result[1][0].image%>"><img src="/images/<%=result[1][0].image%>" alt=""></a>
								<a href="/images/<%=result[1][0].image1%>"><img src="/images/<%=result[1][0].image1%>" alt=""></a>
								<a href="/images/<%=result[1][0].image2%>"><img src="/images/<%=result[1][0].image2%>" alt=""></a>
								
							</div>
						</div>
						
						<div class="col-lg-6 col-md-12 col-sm-12">
							<div class="woo_pr_detail">
								
							
								<h2 class="woo_pr_title" style="font-size: 22px;"><%=result[1][0].name%></h2>
								
								<div class="woo_pr_reviews">
								
									
								</div>
								
								<div class="woo_pr_price">
									<div class="woo_pr_offer_price">



                                        <% if(result[1][0].discount == 0) { %>
										<h3 style="font-size: 20px;">Rs. <%=result[1][0].net_amount%><sup></sup></h3>

                                        <% } else { %>
                                            <h3 style="font-size: 20px;">Rs. <%=result[1][0].net_amount%><sup></sup><span class="org_price">Rs. <%=result[1][0].price%></span></h3>

                                            <% } %>
                                    
                                    </div>
								</div>
								
								<!-- <div class="woo_pr_short_desc">
									<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores voluptatem quia voluptas sit aspernatur.</p>
								</div> -->
								
							
							
								
								<!-- Short Info -->
								<div class="pr_info_prefix mb-3">
									
									<!-- First -->
									<div class="cart_sku_preflix">
										<div class="sku_preflix_first">
											<strong>Weight:</strong>
										</div>
										<div class="sku_preflix_last">
											<%=result[1][0].sizename%>
										</div>
									</div>
									
									
									
								</div>
								
								<div class="woo_btn_action">
									<div class="col-12 col-lg-auto p-0">
										<input type="number" class="form-control qua_pr mb-2" value="1" id="userquantity" />
									</div>
									<div class="col-12 col-lg-auto">


                                        <% if(result[1][0].quantity == 0 || result[1][0].quantity < 0) { %>
										<button class="btn btn-block btn-dark mb-2">Out of stock </button>
									
                                        <% } else { %>

                                            <button id="addToCart" categoryname = '<%=result[1][0].name%>' subcategoryid="<%=result[1][0].subcategoryid%>"  booking_id="<%=result[1][0].id%>" price="<%=result[1][0].net_amount%>" categoryid = '<%=result[1][0].categoryid%>' totalquantity = '<%=result[1][0].quantity%>'     class="btn btn-block btn-dark mb-2 addToCart">Add to Cart <i class="ti-shopping-cart-full ml-2"></i></button>

                                            <% } %>
                                    
                                    </div>
									<!-- <div class="col-12 col-lg-auto">
										<button class="btn btn-gray btn-block mb-2" data-toggle="button">Wishlist <i class="ti-heart ml-2"></i></button>
									</div> -->
								</div>
								
							</div>
						</div>
						
					</div>
					
					<!-- Product Description -->
					<div class="row mt-5">
						<div class="col-lg-12 col-md-12">
							<div class="custom-tab style-1">
								<ul class="nav nav-tabs" id="myTab" role="tablist">
									<li class="nav-item">
										<a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true" aria-expanded="true">Description</a>
									</li>
									
								</ul>
								<div class="tab-content" id="myTabContent">
									<div class="tab-pane fade active show" id="description" role="tabpanel" aria-labelledby="description-tab" aria-expanded="true">
										<p id="resultdescription"></p>
										<input type="hidden" class="msg" value="<%=result[1][0].description%>">
									</div>
								
								
								</div>
							</div>	
						</div>
					</div>
					
				</div>
			</section>
			<!-- =========================== Product Detail =================================== -->
			
			<!-- =========================== Related Products =================================== -->
			<section class="gray">
				<div class="container">
					
					<div class="row">
						<div class="col-lg-12 col-md-12 mb-2">
							<h4 class="mb-0">Related Products</h4>
						</div>						
					</div>
					
					<div class="row">
					
						<div class="col-lg-12 col-md-12">
							<div class="owl-carousel products-slider owl-theme">
							

                                <% for(i=0;i<result[3].length;i++) { %>

                                    <div class="item">
                                        <div class="woo_product_grid">
                                            
                                            <div class="woo_product_thumb">
                                                <img src="/product?id=<%=result[3][i].id%>" class="img-fluid" alt="" />
                                            </div>
                                            <div class="woo_product_caption center">
                                            
                                                <div class="woo_title">
                                                    <h4 class="woo_pro_title" style="font-size: 20px;margin-top: 10px;"><a href="/product?id=<%=result[3][i].id%>"><%=result[3][i].name%></a></h4>
                                                </div>

                                                
                                                <div class="woo_price">

                                                    <% if(result[3][i].discount == 0) { %>
                                                        <h6 style="font-size: 18px;margin-top: 10px;">Rs. <%=result[3][i].net_amount%></h6>


                                                        <% } else { %>
                                                            <h6 style="font-size: 18px;margin-top: 10px;">Rs. <%=result[3][i].net_amount%><span class="less_price">Rs. <%=result[3][i].price%></span></h6>

                                                            <% } %>

                                                </div>
                                                <div class="woo_price">
                                                    <div class="sec-heading-flex-last">

                                                        <% if(result[3][i].quantity == 0 || result[3][i].quantity < 0) { %>

                                                            <a  class="btn btn-danger" style="margin-top: 20px;color: white;">Out Of Stock</a>

                                                            <% } else { %>
                                                                <a id="addToCart" categoryname='<%=result[3][i].name%>' subcategoryid="<%=result[3][i].subcategoryid%>"  booking_id="<%=result[3][i].id%>" price="<%=result[3][i].net_amount%>" categoryid = '<%=result[3][i].categoryid%>' class="btn btn-theme addToCart" style="margin-top: 20px;color: white;">Add to cart</a>

                                                                <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                                                        
                                        </div>
                                    </div>
                                    
						
                                <% } %>


							
							</div>
						</div>
						
					</div>
					
				</div>
			</section>
			<!-- =========================== Related Products =================================== -->
			
			<!-- ============================ Call To Action ================================== --> 
			
			<!-- ============================ Call To Action End ================================== -->
			
            <%- include ('./indexfooter.ejs') %>

            <script src="https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.min.js"></script>
            <script>

                $('.addToCart').click(function(){
                            
                            // id="<%=result[1][0].id%>" price="<%=result[1][0].net_amount%>" categoryid = '<%=result[1][0].categoryid%>' vendorid = '<%=result[1][0].vendorid%>' 
                            let quantity = $('#userquantity').val()
                            let booking_id = $(this).attr('booking_id');
                            let price = $(this).attr('price');
                            let oneprice = $(this).attr('price');
                            let categoryid = $(this).attr('categoryid');
                            let subcategoryid = $(this).attr('subcategoryid');
                            let totalquantity = $(this).attr('totalquantity');
                            let categoryname = $(this).attr('categoryname')

                
                            // let vendorid = $(this).attr('vendorid');
                
                
                            if(quantity > totalquantity){
                                
                                alert(`We have only ${totalquantity} stock availbale`)
                            }
                        
                            else {
                                price = price*quantity
                        
                        $.post('/cart-handler',{booking_id,price,categoryid,oneprice,quantity,subcategoryid},data=>{
                            swal(categoryname, "Successfully added to cart", "success");

                        })  
                            }
                        
                             
                            
                        })
                
                
                
                
                       
                          
                
                </script>
                

				
<script>

	$( document ).ready(function() {
	   let msg = $('.msg').val()
	   let table = `<p>
		  
	
		  <p>${msg}</p>
		  
				</p>
				`
				$('#resultdescription').html(table)
		
	  
	});
	
	 
	
	
	
	
	
	
	</script>
                